body {
    margin: 0 auto;

    background: #FFEB85;
}

header {
    height: 110px;

    background: #CC0000;
}

footer {
    height: 100px;
    text-align: center;

    background: #CC0000;
}